<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Tickets</title>
    <link rel="icon" href="ticket.png">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<div class="app">
    <h1 class="poppins-semibold">Available Movies</h1>
    <div id="movies-container" class="movies poppins-regular">

    </div>
    <script src="/movie/movie.js" type="module"></script>
    <script src="index.js" type="module"></script>

</div>

</body>
</html>